In [1]:
import pandas as pd

In [2]:
df_fruit = pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]})
df_fruit

   Apples  Bananas
0      35       21
1      41       34

In [3]:
df_fruit.index=["2017 Sales", "2018 Sales"]
df_fruit

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
df_fruit.to_csv("fruit.csv")